<H2>Adding your Connector Portal-registered connector</H2>
<p>
    Click the button to call the "register" endpoint in the sample app, which will register the connector for the selected channel and send a sample "Welcome" connector card.
</p>
<a href="https://outlook.office.com/connectors/Connect?state=https://54901686.ngrok.io/student/create&app_id=287933d7-f9e0-4dbf-8400-2f1980707764&callback_url=https://54901686.ngrok.io/connector/register"><img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Connect to Office 365"></img></a>

